.no-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.pd-11 {
  padding: 11px !important;
}

.pd-20 {
  padding: 20px !important;
}

.pdl-0 {
  padding-left: 0px !important;
}

.pdt-30 {
  padding-top: 30px!important;
}

.pdbt-51 {
  padding-bottom: 51px;
  padding-top: 51px;
}